*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    padding-left: 40vh;
    text-align: center;
    text-decoration: none;
    padding-top: 40vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
}
.prize{
    width: 100%;
    background-color: rgb(89, 108, 129);
    height: 5vh;
    margin-top: 3vh;
    display: inline-block;
}
body{
    background-color: rgb(88, 130, 207);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.text{
    text-align: center;
    margin-left: 20vh;
    margin-top: 5vh;
    align-content: center;
    color: cornsilk;
}
h2{
    font-size: 6vh;
    font-stretch: expanded;
    text-align: center;
    color: rgb(255, 255, 255);
}
h3{
    text-align: center;
    text-transform: capitalize;
    text-decoration: dotted;
}
img{
    padding-top: 4vh;
    height: 60vh;
    width: 80vh;
    align-items: center;
    margin-left: 15vh;
}
h4{
    text-align: center;
    font-size: 5vh;
}
.lol{
    font-size: xx-large;
    padding-top: 4vh;
}
.dee{
    height: 90vh;
    width: 60vh;
    align-items: center;
}
.mee{
    height: 90vh;
    width: 60vh;
    align-items: center;
}
.wee{
    height: 90vh;
    width: 60vh;
    align-items: center;
}
.lee{
    height: 90vh;
    width: 60vh;
    align-items: center;
}
.nee{
    height: 90vh;
    width: 60vh;
    align-items: center;
}
.noo{
    font-size: 4vh;
    font-family: monospace;
    color: rgb(3, 29, 25);
}
h4{
    font-family:Georgia;
    color: ghostwhite;
    padding-bottom: 8vh;
}
h6{
    font-size: 4vh;
    text-align: center;
    color: cornsilk;
    padding-top: 4vh;
}
